/* import font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');


/* base */
* {
  margin: 0;
  font-family: 'JetBrains Mono';
  color: #333;
}

/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #2AABEE;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #2AABEE;
}

/* content */
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }

/* home-page */
.home-page  {
    text-align: center;
}

/* projects list */
.projects-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #2AABEE;
}

.projects-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.projects-preview div {
  margin: 20px 0;
}

.projects-preview button {
  background: #2AABEE;
  color: #fff;
  border: 0;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
}

.projects-preview button:hover {
  background-color: #333;
}

.projects-preview h2 {
  font-size: 20px;
  color: #2AABEE;
  margin-bottom: 8px;
}

.projects-preview p {
  font-size: 15px;
}